.t-default-menu.press-menu {
  background: #0181ff;

  .t-menu__item,
  // 有子项，展开时
  .t-menu__item.t-is-opened,
  // 有子项，展开时，图标
  .t-menu__item.t-is-opened .t-icon {
    color: #fff;
  }

  .t-menu__item:hover:not(.t-is-active):not(.t-is-opened):not(.t-is-disabled),
  .t-menu__item:hover:not(.t-is-active):not(.t-is-disabled) {
    background: var(--td-brand-color-light);
    color: var(--td-brand-color);
  }
}
